/* removed title input part */
form {
    place-self: center;
    display: grid;
    width: 75%;
    height: 70%;
    /* grid-template-rows: 10% 80% 10%; */
    
}

.editForm {
    grid-template-columns: 70% 30%;
    height: 300px;
    padding: 1% 0;
    grid-gap: 20px;
}
.editForm > button {
    font-size: 0.8em;
    height: 50px;
    width: 100px;
    align-self: center;
}
.addForm {
    grid-template-rows: 70% 30%;
}

form button {
    border: 1px solid lightgray;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 3px;
    transition: 0.3s ease;
    font-weight: bold;
    color: gray;
}
form button:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.5);
    border: 1px solid gray;
    color: #757575;
}

/* input {
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 25px;
    width: 100%;
    align-self: flex-end;
    margin: 10px 0;
    padding: 10px;
} */

#body {
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
    resize: none;
    padding: 10px;
}