.post {
    width: 80%;
    min-height: 100px;
    border-bottom: 1px solid lightgray;
    color: rgb(75, 75, 75);
    font-size: 0.2em;
    display: grid;
    align-items: center;
    grid-template-columns: 70% 15% 15%;
    transition: 0.3s ease;
    text-align: center;
    padding: 15px 0;
}
.post:hover {
    transform: scale(1.01);
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.content {
    margin-left: 20px;
    text-align: left;
    white-space: pre-wrap;
}
.options {
    justify-self: center;
}
.date {
    justify-self: center;
}


.optionsContainer > button {
    margin: 0 5px;
    border: none;
    background-color: transparent;
    font-size: 1em;
    transition: 0.3s ease;
}
.optionsContainer > button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.editbtn {
    color: rgb(101, 101, 133);
}
.editbtn:hover {
    color: darkblue;
}
.deletebtn {
    color: rgb(116, 88, 88);
}
.deletebtn:hover {
    color: maroon;
}


.labels {
    width: 80%;
    border-bottom: 2px solid gray;
    color: rgb(75, 75, 75);
    font-size: 0.2em;
    font-weight: bold;
    display: grid;
    grid-template-columns: 70% 15% 15%;
}